.menu {
    
    display: flex;
    justify-content: space-evenly;
}
.menu-item {
    list-style: none;
    margin-top: 2.2rem;
    margin-bottom: 9rem;
    text-align: center;
    position: relative;
}
a {
    text-decoration: none;
}
.menu-list::after {
    content: '';
    border: 3px solid #fff;;
    border-radius: 35px;
    padding: 14px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    display: none;
    
}
.menu-item:hover > .menu-list::after {
    display: block;
    
}
.menu-list {
    font-size: 0.9rem;
    color: #928d8a;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700; 
    
}

.menu-list:hover {
    color: #fff;
}
.logotip {
    color: #928d8a;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}
.title {
    text-align: center;
    color: #928d8a;
    font-size: 1.8rem;
    padding: 0.4rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.title-list {
    text-align: center;
    margin-top: 1.6rem;
    font-size: 1.1rem;
    color: #928d8a;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;

}

header {
    background-image: url(../img/vector.jpg);
    background-position: center;
    background-repeat: no-repeat;

}
.button {
    margin-top: 1.4rem;
    width: 17.5rem;
    height: 2.6rem;
    border: 3px solid #ff4e50;
   background: rgba(255, 255, 255, 0.3);
   
    border-radius: 5rem;
    font-size: 0.9rem;
    margin-bottom: 14rem;
    cursor: pointer;
    padding: 0.4rem;
    color: #fff;
}
.button:hover {
    border-radius: 5rem;
    background-color: #ff4e50;
    color: #fff;
}
.button-section {
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) {
    
    .logotip {
        margin-top: 2rem;
    }
    .row-menu {
        display: flex;
        flex-direction:	row-reverse;
        
    }
    
}
@media (min-width: 900px) {
    .button {
        
        width: 14.5rem;
    }
}