* {
    margin: o;
    padding: 0;
}

.wrappeer {
    /* background-color: #fff; */
    font-family: 'Playfair Display', serif;
   


}
.container {
    width: 960px;
    /* background-color: grey; */
   
    margin: auto;
    padding-top: 50px;
}
.meny {
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    width: 575px;
    margin: auto;
    /* background: #cccc; */
     padding: 10px 0 10px 162px;
     



}
.meny-item  {
    display: inline-block;
    margin-right: 30px;
   
}
.meny-link: { 
    display: block;
    width: 80px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover { color:#68cbf8;
    
}

.main {
    /* background-color: green; */
    margin-top: 50px;
   
}
.section {
    /* background-color: blue; */
    margin-bottom: 50px;
   
}
.section-art {
    width: 410px;
    /* background-color: red; */
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    margin-bottom: 50px;
    
    
}
/* .section-art {
    width: 410px;
    height: 180px;
    /* background-color: red; */
    /* display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;  */
}

span {
    font-size: 14px;
    line-height: 17px;
    color: #beb8ab;


}
h2 {
    font-size: 30px;
    line-height: 36px;

}
p {
    font-size: 14px;
    line-height: 24px;

}
button {
    font-size: 20px;
    line-height: 24px;
    color: #7d7d7d;
    width: 100px;
    height: 50px;
    /* background-color: yellow; */
    margin-left: 400px;


}