* {
  padding: 0;
  margin: 0;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.fullview {
  display: flex;
  justify-content: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
}

.activ-img {
  background-color: #ff8282;
  transform: scale(1.02);
}

.image-gallery {
  background-color: #dee0e2;
}
