.p-footer {
    font-size: 14px;
    text-transform: capitalize;
}
.button-footer {
    width: 150px;
    height: 44px;
    background-color: #95e1d3;
    border: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
span {
    color: red
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 95px 0 28px 0;
}
input {
    height: 40px;
    width: 230px;
    margin-right: -5px;
    
}

